HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Spring RestDocs 파일 제외 - 각자 gradle task에서 빌드해서 쓰세요##
/src/main/resources/static/docs/

### Secret .properties 파일 제외 - 프로퍼티 파일은 따로 공유!
/src/main/resources/*-secret.properties